[submodule "roles/ansible-role-jenkins"]
	path = roles/ansible-role-jenkins
	url = https://github.com/vadikgo/ansible-role-jenkins.git
[submodule "roles/ansible-role-java"]
	path = roles/ansible-role-java
	url = https://github.com/vadikgo/ansible-role-java.git
